export ASOBANN_ROOT=/home/yattom/work/asobann
export PYTHONPATH=${ASOBANN_ROOT}/asobann_app/src:${ASOBANN_ROOT}/asobann_app
#export ASOBANN_DEBUG_OPTS=PERFORMANCE_RECORDING,LOG,ORDER_OF_UPDATES
export ASOBANN_DEBUG_OPTS=PERFORMANCE_RECORDING
#export ASOBANN_ACCESS_LOG=1

# for user asobann_server
export AWS_KEY=XXXXXX
export AWS_SECRET=XXXXXX
export AWS_REGION=us-east-1
export AWS_COGNITO_USER_POOL_ID=XXXXXX
export AWS_COGNITO_CLIENT_ID=XXXXXX
# this bucket is created with CloudFormation and prone to change
export AWS_S3_IMAGE_BUCKET_NAME=XXXXXX

# CloudFormation parameters
export AWS_DEV_PUBLIC_HOSTNAME=XXXXXX
export AWS_PROD_PUBLIC_HOSTNAME=XXXXXX
export AWS_MAINTENANCE_IP_RANGE=XXXXXX
export AWS_MONGODB_PASSWORD=XXXXXX
export AWS_APP_IMAGE=XXXXXX
export AWS_CERTIFICATE_ARN=XXXXXX
export GOOGLE_ANALYTICS_ID=XXXXXX
export AWS_DEV_COGNITO_USER_POOL_ID=XXXXXX
export AWS_DEV_COGNITO_CLIENT_ID=XXXXXX

export PATH=$ASOBANN_ROOT/asobann_app/scripts:$PATH



